@font-face {
  font-family: 'Helvetica Neue';
  src: url('HelveticaNeue-Light.eot');
  src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
    url('HelveticaNeue-Light.woff') format('woff'),
    url('HelveticaNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
/**
 * Basic styling
 */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #141516;
  -webkit-text-size-adjust: 100%;
  margin-bottom: 0; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  color: #141516; }

/**
 * Links
 */
a {
  color: #141516;
  text-decoration: none; }
  a:visited {
    color: black; }
  a:hover {
    color: #141516;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #c2c2c2;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #c2c2c2;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Clearfix
 */
/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
header {
  padding: 30px 0 30px 0;
  color: #4f4f4f;
}

header .navbar-brand {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 1.6em;
  color: #FFC75A; }

/**
* Feed post
*/
/**
 * Site footer
 */
/**
 * Page content
 */
/**
 * Intro
 */
 .main-padding {
  margin-bottom:50px;
 }

.intro h1 {
  color: #4f4f4f; }

.intro p {
  color: #c2c2c2;
  font-size: 1.784em;
  line-height: 1.5375em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.feed-post {
  background: #FFC75A;
  padding: 0 0 30px 0;
  text-align: right;
  color: #fff; }

.feed-post h3 {
  font-size: 2.784em;
  line-height: 2.43em;
  color: #fff;
}

.feed-post .project {
  display: block;
  font-size: 1.3em;
  line-height: 1.5375em;
  padding: 20px 0; }

.feed-post .project:hover {
  background: #ddd;
  color: #333; }

.feed-post .project .title {
  display: inline-block;
  margin-right: 90px;
  color: rgba(0, 0, 0, 0.25);
}

.feed-post .project .title a {
  color: rgba(0, 0, 0, 0.25);
  text-decoration: none; }

.feed-post .project:hover .title {
  color: #333; }

.feed-post .project:hover .title {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  color: #333; }

.feed-post .project:hover .title span {
  border-bottom: 1px solid #FFC75A; }

.feed-post .project .date {
  display: inline-block; }

/**
 * Posts
 */
.content-project {
  background: #ddd;
  color: #fff;
  padding: 30px 0;
}
 .content-project.section1, .content-project.section3, .content-project.section5, .content-project.section7, .content-project.section9 {
  background: #fff;
 }
 .content-project.section2, .content-project.section4, .content-project.section6, .content-project.section8 {
  background: #F0F3F7;
 }

.content-project h1 {
  font-size: 2.784em;
  color: #222;
  text-align: center;
  margin-bottom: 30px;
}

.content-project h1 span {
  border-bottom: 3px solid #FFC75A;
}
span.epiclock {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
span.epiclock.epiclock-spacer {
  margin-right: 10px;
}

span.epiclock {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
span.epiclock.epiclock-spacer {
  margin-right: 10px;
}

.content-project .cover-project img {
  width: 100%;
  padding: 30px 0; }

.content-project p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
}
.content-project h3 {
  color: #333;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  font-style: normal;
  font-size: 2.3em;
  margin-bottom: 40px;
}
.content-project .image img {
  width: auto;
  max-width: 100%;
}

.related-project {
  background: #ddd;
  padding: 0 0 30px 0;
  text-align: center;
  color: #fff; }

.related-project h3 {
  font-size: 2em;
  line-height: 2.43em;
  color: #fff; }

.related-project .project {
  width: 25%;
  float: left;
  margin-bottom: 20px;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: left; }

.related-project .project .thumbnail-project {
  background: #fff;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  max-height: 160px;
}

.related-project .project .thumbnail-project img {
  width: 100%;
}

.related-project .project .title {
  background: #fff;
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}

.related-project .project .title a {
  font-weight: 900;
  font-family: 'Raleway', sans-serif;
  color: #333;
  text-decoration: none;
}

.related-project .project .title a span {
  border-bottom: 1px solid #FFC75A;
}

article {
  -webkit-animation: fadein 1.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1.5s;
  /* Firefox < 16 */
  -ms-animation: fadein 1.5s;
  /* Internet Explorer */
  -o-animation: fadein 1.5s;
  /* Opera < 12.1 */
  animation: fadein 1.5s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }


/**
 * Media Queries
 */

@media screen and (max-device-width: 480px) {
  header {
  padding: 15px 0;
  }
  .main-padding {
  margin-bottom:20px!important;
  padding-top: 20px!important;
  }
 .intro p {
  font-size: 1.3em;
  line-height: 1.5em;
  }
  .content-project p {
  font-size: 1em;
  }

  .feed-post h3 {
  font-size: 1.3em;
  line-height: 1.5em;
  }
  .feed-post .project {
  font-size: 1em;
  line-height: 1.3em;
  }
  .feed-post .project .title {
  margin-right: 30px;
  }

}

