{% extends 'base.html' %}

{% block title %}SACE - Acompanyaments{% endblock %}

{% block content %}
<div class="serveis-page">
	<div class="header-page">
		<div class="container">
			<h1 class="text-center">Què fem?</h1>
		</div>
	</div>
	<div class="container">
		<div style="padding: 20px 0">
			<p class="text-center">Els Serveis d’Acompanyament que a SACE oferint als centres educatius es divideixen en tres blocs principals:</p>
		</div>
	</div>
	<div class="container">
		<ul>
			<h4>Acompanyament SACE “Educació”</h4>
			<li>Línia Educativa.</li>
			<li>Projectes Educatius.</li>
			<li>Digital.</li>
			
			<h4>Acompanyament SACE “Imatge i Comunicació”</h4>
			<li>Base de Dades.</li>
			<li>Estudis d’Opinió.</li>
			<li>Accions de Comunicació Interna.</li>
			<li>Accions de Comunicació Externa.</li>
			
			<h4>Acompanyament SACE “Gestió de Centre”</h4>
			<li>Manteniment del Centre Educatiu.</li>
			<li>Proveïdors.</li>
			<li>Alumnat, activitats educatives i distribució del material escolar.</li>
		</ul>
	</div>
	<div class="container-box" style="padding: 40px 0">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<a href="sace-educacio">
					<div class="servei-box">
						<img src="../img/educacio-cover.jpg" alt="">
						<p>Acompanyament SACE d'Educació</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<a href="sace-comunicacio">
					<div class="servei-box">
						<img src="../img/comunicacio-cover.jpg" alt="">
						<p>Acompanyament SACE d'Imatge i Comunicació</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<a href="sace-gestio">
					<div class="servei-box">
						<img src="../img/gestio-cover.jpg" alt="">
						<p>Acompanyament SACE de Gestió del Centre Educatiu</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}