{% extends 'base.html' %}

{% block title %}SACE - Comunicació Imatge{% endblock %}

{% block content %}

<div class="contingut-servei">
	<div class="container">
		<div class="portada-servei comunicacio"></div>
		<h1 class="text-center">Acomanyament d'Imatge i Comunicació</h1>
		<p>Àrea destinada a oferir al centre educatiu una millora respecte al processos de comunicació interns i externs, i potenciar la seva imatge corporativa per ser percebut con un centre educatiu de referencia. Serveis d’acompanyament relacionats tant a la  comunicació interna i externa del centre educatiu com a la imatge que projecta als alumnes i les famílies. Aquestes son algunes de les nostres accions més sol·licitades:</p>
		<div class="accions">
			<ul>
				<h4>Base de Dades</h4>
				<li>Creació de la Base de Dades del Centre Educatiu.</li>
				<li>Actualització de la Base de Dades del Centre Educatiu.</li>
			</ul>
			<ul>
				<h4>Estudis d'Opinió</h4>
				<li>Realització d’Enquestes d’Opinió i Focus Group.</li>
				<li>Anàlisis i Valoració de Resultats.</li>
			</ul>
			<ul>
				<h4>Accions de Comunicació Interna</h4>
				<p>Realització d’accions de comunicació entre el centre educatiu i les famílies que reforcin i millorin aquest vincle:</p>
				<li>Comunicacions via correu electrònic i via postal.</li>
				<li>Comunicacions presencials.</li>
				<li>Disseny i creació de tot tipus de suports que afavoreixin la comunicació interna (catàleg del centre educatiu, cartelleria, fullets, displays, etc...).</li>
				<li>Seminaris per a les famílies.</li>
			</ul>
			<ul>
				<h4>Accions de Comunicació Externa</h4>
				<p>Realització d’accions de comunicació entre el centre educatiu i les futuribles famílies que reforcin la imatge i posicionament del centre:</p>
				<li>Realització de presentacions sobre el centre educatiu a entitats potencials seleccionades.</li>
				<li>Planificació, organització i suport, a la campanya de “portes obertes”. .</li>
				<li>Disseny i creació de tot tipus de suports que afavoreixin la comunicació externa (cartelleria, fullets, displays, etc...).</li>
				<li>Posicionament del centre educatiu a les webs de referencia i cercadors.</li>
			</ul>
		</div>
	</div>
</div>
<div class="filosofia-servei">
	<div class="container">
	<h3 class="text-center">"La veritable comunicació no comença parlant sino escoltant."</h3>
	<p class="text-center">Autor Frase</p>
	</div>
</div>
<div class="altres-serveis">
	<div class="container">
		<h4>Altres tipus d'Acompanyament:</h4>
		<div class="row text-center">
			<div class="col-md-4 col-sm-4">
				<a href="sace-educacio">
					<div class="servei-box">
						<img src="../img/educacio-cover.jpg" alt="">
						<p>Educació</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<a href="sace-gestio">
					<div class="servei-box">
						<img src="../img/gestio-cover.jpg" alt="">
						<p>Gestió del Centre Educatiu</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}