{% extends 'base.html' %}

{% block title %}SACE - Contacte{% endblock %}

{% block content %}
<div class="container" style="padding-top:20px">
	<h1 class="text-center">Vols Contactar?</h1>
	
	
	
	<div class="row">
		<div class="col-md-12">
			<div class="intro-contacte text-center">
				<p>Si desitges posar-te en contacte amb nosaltres per fer-nos arribar qualsevol dubte, qüestió o missatge, només tens que omplir el següent formulari:</p>
				<h4 style="padding: 30px 0; color: #2CBFEB">Contacta amb SACE, ens posem a la teva disposició</h4>
			</div>
		</div>
	</div>
	<div class="row text-center">
		<div class="formulari" style="width: 700px;margin:0 auto;">
		<div class="formulari-contacte">
			<form action="//formspree.io/didacdisseny@gmail.com" method="POST" class="form-horizontal">
			    <div class="form-group">
				    <label for="Nom" class="col-sm-4 control-label">Nom: <span style="color:#2CBFEB">*</span></label>
				    <div class="col-sm-8"><input type="text" name="Nom" class="form-control" required></div>		    
			    </div>
			    <div class="form-group">
				    <label for="1er Cognom" class="col-sm-4 control-label">1er Cognom: <span style="color:#2CBFEB">*</span></label>
				    <div class="col-sm-8"><input type="text" name="1erCognom" class="form-control" required></div>		    
			    </div>
			    <div class="form-group">
				    <label for="2on Cognom" class="col-sm-4 control-label">2on Cognom:</label>
				    <div class="col-sm-8"><input type="text" name="2onCognom" class="form-control"></div>		    
			    </div>
			    <div class="form-group">
				    <label for="Centre Educatiu" class="col-sm-4 control-label">Centre Educatiu: <span style="color:#2CBFEB">*</span></label>
				    <div class="col-sm-8"><input type="text" name="Centre_Educatiu" class="form-control" required></div>		    
			    </div>
			    <div class="form-group">
				    <label for="Càrrec" class="col-sm-4 control-label">Càrrec:</label>
				    <div class="col-sm-8"><input type="text" name="Càrrec" class="form-control"></div>		    
			    </div>
			    <div class="form-group">
				    <label for="Població" class="col-sm-4 control-label">Població: <span style="color:#2CBFEB">*</span></label>
				    <div class="col-sm-8"><input type="text" name="Població" class="form-control" required></div>		    
			    </div>
			    <div class="form-group">
				    <label for="Adreça" class="col-sm-4 control-label">Adreça: <span style="color:#2CBFEB">*</span></label>
				    <div class="col-sm-8"><input type="text" name="Adreça" class="form-control" required></div>		    
			    </div>
			    <div class="form-group">
				    <label for="Telèfon" class="col-sm-4 control-label">Telèfon: <span style="color:#2CBFEB">*</span></label>
				    <div class="col-sm-8"><input type="tel" name="Telèfon" class="form-control" required></div>		    
			    </div>
			    <div class="form-group">
				    <label for="Mòbil" class="col-sm-4 control-label">Mòbil:</label>
				    <div class="col-sm-8"><input type="tel" name="Mòbil" class="form-control"></div>		    
			    </div>
			    <div class="form-group">
				    <label for="Correu Electronic" class="col-sm-4 control-label">Correu Electronic: <span style="color:#2CBFEB">*</span></label>
				    <div class="col-sm-8"><input type="email" name="_replyto" class="form-control" required></div>
				</div>

				<input type="text" name="_gotcha" style="display:none" /> <!-- Per evitar correu no desitjat -->
			    <input type="hidden" name="_next" value="sace-gestio" /> <!-- Plana de destí (Hidden) -->
			    <input type="hidden" name="_subject" value="Contacte Sace" /> <!-- Missatge d'assumpte al email -->

				<div class="form-group">
				    <div class="col-sm-12 text-right">
				    	<span style="margin-right:10px;color:#2CBFEB">* Camps obligatoris.</span>
				    	<button type="submit" class="btn btn-sace pull-right">Enviar</button>
				    </div>
				</div>
				
			</form>
			<p class="text-center">Les dades d’aquest formulari de contacte s’utilitzaran només per resoldre la consulta plantejada. </p>
		</div>
	</div>
	</div>
	
</div>

{% endblock %}