{% extends 'base.html' %}

{% block title %}SACE - Educació{% endblock %}

{% block content %}
<div class="contingut-servei">
	<div class="container">
		<div class="portada-servei educacio"></div>
		<h1 class="text-center">Acompanyament d'Educació</h1>
		<p>Àrea destinada a oferir al centre educatiu tots els serveis d’acompanyament relacionats amb l’educació per mantenir i millorar el nivell de qualitat dins del centre. Materials educatius necessaris per els professors i els alumnes a través d'algunes de les nostres accions més sol·licitades:</p>
		<div class="accions">
			<ul>
				<h4>Línia Educativa</h4>
				<li>Anàlisis de la línia pedagògica del centre educatiu.</li>
				<li>Formació en tendències metodològiques.</li>
			</ul>
			<ul>
				<h4>Projectes Educatius</h4>
				<li>Estudi dels projectes editorials.</li>
				<li>Planificació i organització de sessions informatives entre el centre educatiu i les diferents editorials.</li>
				<li>Negociació amb les editorials triades per el centre educatiu.</li>
				<li>Distribució dels projectes educatius, triats per el centre educatiu, entre les editorials i les famílies</li>
			</ul>
			<ul>
				<h4>Digital</h4>
				<li>Anàlisis de la situació al centre educatiu respecte les noves tecnologies.</li>
				<li>Planificació i introducció gradual de les noves tecnologies al aula.</li>
				<li>Formació digital al professorat.</li>
				<li>Acompanyament en l’estudi i implantació dels projectes digitals de les editorials triades per el centre educatiu</li>
				<li>Resolució de incidències digitals amb les editorials.</li>
				<li>Negociació amb les companyies tecnològiques i distribució del material triat per el centre educatiu.</li>
			</ul>
		</div>
	</div>
</div>
<div class="filosofia-servei">
	<div class="container">
	<h3 class="text-center">"L'educació no consisteix en omplir un càntir sinó en encendre un foc."</h3>
	<p class="text-center">Autor Frase</p>
	</div>
</div>
<div class="altres-serveis">
	<div class="container">
		<h4>Altres tipus d'Acompanyament:</h4>
		<div class="row text-center">
			<div class="col-md-4 col-sm-4">
				<a href="sace-comunicacio">
					<div class="servei-box">
						<img src="../img/comunicacio-cover.jpg" alt="">
						<p>Imatge i Comunicació</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<a href="sace-gestio">
					<div class="servei-box">
						<img src="../img/gestio-cover.jpg" alt="">
						<p>Gestió del Centre Educatiu</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}