{% extends 'base.html' %}

{% block title %}SACE - Gestió del Centre{% endblock %}

{% block content %}

<div class="contingut-servei">
	<div class="container">
		<div class="portada-servei gestio"></div>
		<h1 class="text-center">Acompanyament de Gestió del Centre Educatiu</h1>
		<p>Àrea destinada a oferir al centre educatiu una organització, coordinació i millora de les negociacions amb els seus proveïdors. Serveis d’acompanyament relacionats amb totes les activitats escolars i extraescolars que es realitzen al centre educatiu:</p>
		<div class="accions">
			<ul>
				<h4>Manteniment</h4>
				<li>Serveis de manteniment i realització de projectes d’ adequació de les instal·lacions que el centre educatiu cregui convenient.</li>
			</ul>
			<ul>
				<h4>Proveïdors</h4>
				<li>Negociació i coordinació de accions necessàries relacionades amb els proveïdors del centres educatius.</li>
			</ul>
			<ul>
				<h4>Alumnat</h4>
				<li>Estudi i planificació de les activitats educatives: Sortides Culturals Trimestrals, Colònies, etc...</li>
				<li>Negociació i distribució del material escolar.</li>
				<li>Servei de menjador i transport.</li>
			</ul>
		</div>
	</div>
</div>
<div class="filosofia-servei">
	<div class="container">
	<h3 class="text-center">"La planificació a llarg termini no és pensar en decisions futures, sino en el futur de les decisions presents."</h3>
	<p class="text-center">Autor Frase</p>
	</div>
</div>
<div class="altres-serveis">
	<div class="container">
		<h4>Altres tipus d'Acompanyament:</h4>
		<div class="row text-center">
			<div class="col-md-4 col-sm-4">
				<a href="sace-educacio">
					<div class="servei-box">
						<img src="../img/educacio-cover.jpg" alt="">
						<p>Educació</p>
					</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-4">
				<a href="sace-comunicacio">
					<div class="servei-box">
						<img src="../img/comunicacio-cover.jpg" alt="">
						<p>Imatge i Comunicació</p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}