{% extends 'base.html' %}

{% block title %}SACE - Com ens organitzem?{% endblock %}

{% block content %}
<div class="container" style="padding:top:20px">
	<h1 class="text-center">Com ens organitzem?</h1>
	<p>A SACE consideren que la nostre estructura organitzativa es modular, ja que volen que aquesta s’adapti a les necessitats dels centres educatius amb els quals es col·labora.</p>

	<h3 class="text-center">“Organització Modular que s’adapta a les necessitats de cada centre educatiu”</h3>
	
	<p>Destaquen, dintre de l’organització de SACE, les següents àrees:</p>

	<div class="modul">
		<h5>SACE Educació</h5>
		<p>Àrea destinada a oferir al centre educatiu tots els serveis d’acompanyament relacionats amb l’educació per mantenir i millorar el nivell de qualitat dins del centre.</p>
	</div>
	<div class="modul">
		<h5>SACE Imatge i Comnicació</h5>
		<p>Àrea destinada a oferir al centre educatiu una millora respecte al processos de comunicació interns i externs, i potenciar la seva imatge corporativa per ser percebut con un centre educatiu de referencia..</p>
	</div>
	<div class="modul">
		<h5>SACE Gestió del Centre Educatiu</h5>
		<p>Àrea destinada a oferir al centre educatiu una organització, coordinació i millora de les negociacions amb els seus proveïdors.</p>
	</div>
	<div class="modul">
		<h5>SACE Innovació</h5>
		<p>Àrea destinada a oferir al centre educatiu serveis que propiciïn  l’evolució en totes les accions que es portin a terme en el centre.</p>
	</div>

	<div class="ilustracio-centre" style="height: 400px">
		<h5>“El Centre Educatiu es l’eix central de la nostre activitat”</h5>
	</div>
</div>

{% endblock %}