{% extends 'base.html' %}

{% block title %}SACE - Valors{% endblock %}

{% block content %}
<div class="container" style="padding-top:20px">
	<h1 class="text-center">Valors</h1>
	<h3>Missió</h3>
	<p>SACE som una companyia, formada per persones professionals de l’àmbit de l’educació i l’empresa,  que tenim com a fi principal oferir serveis d’acompanyament de qualitat als centres educatius a Catalunya, amb l’objectiu de facilitar i recolzar la gestió del centre per que aquest compleixi i assoleixi les seves metes amb solvència.</p>
	<h3 style="padding-top:20px">Visió</h3>
	<p>A SACE tenim com a objectiu ser una companyia de referencia per els centres educatius a Catalunya. Volem acompanyar a l’organització dels centres educatius en el seu dia a dia aportant, amb serveis de qualitat, tota l’experiència del nostre equip de professionals. </p>
	<h3 style="padding-top:20px">Valors</h3>
	<p>Els sis valors que defineixen la cultura de la nostra companyia i marcant  la nostra pauta d’actuació als centres educatius son:</p>
	<ul>
		<li><strong>Honestedat</strong> amb totes les accions d’acompanyament que es realitzant als centres educatius.</li>
		<li><strong>Respecte</strong> a la feina que realitzen els professionals que formen part dels centres educatius.</li>
		<li><strong>Col·laboració i Confidencialitat</strong> amb l’equip directiu del centre educatiu, adaptant 100% l’activitat a les necessitats existents.</li>
		<li><strong>Qualitat</strong> amb tots els serveis d’acompanyament que es realitzin en els centres educatius.</li>
		<li><strong>Innovació</strong> constant dels serveis d’àmbit educatiu que es posa a disposició dels centres educatius.</li>
		<li><strong>Passió</strong> per l’educació.</li>
	</ul>
</div>
{% endblock %}