@font-face {
    font-family: 'montserratbold';
    src: url('../fonts/montserrat-bold-webfont.eot');
    src: url('../fonts/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff'),
         url('../fonts/montserrat-bold-webfont.ttf') format('truetype'),
         url('../fonts/montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'texgyreherosregular';
    src: url('../fonts/texgyreheros-regular-webfont.eot');
    src: url('../fonts/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreheros-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreheros-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html {
  -webkit-font-smoothing: antialiased;
  background: #eaeff3;
}
body {
color: #2b2b2b;
font-family: 'Roboto', sans-serif;
font-size: 1.5em;
line-height: 1.6em;
background: transparent;
}
a {
  color: #2cbfeb;
}
h1,h2,h3,h4,h5 {
	font-family: 'montserratbold';
	font-weight: normal;
}
.h1, h1 {
  font-size: 42px;
}
hr.black {
  background: none repeat scroll 0 0 #2b2b2b;
  border: 0 none;
  height: 2px;
  width: 60px;
}
header {
	height: 60px;
	background: white;
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
	border: 0;
}
.nav-brand {
	width: 100px;
	height: 60px;
	float: left;
	line-height: 60px;
	text-align: left;
  font-family: 'montserratbold';
}
.nav-menu {
	text-align: right;
	display: inline-block;
	line-height: 60px;
}
.nav-menu ul {
	padding: 0;
	margin: 0;
}
.nav-menu li {
	display: inline-block;
	padding: 0 20px;
}
.nav-menu li a {
	color: #2b2b2b;
	padding-bottom: 3px;
	text-decoration: none;
  font-weight: 700;
}
.nav-menu li a:hover {
	color: #2CBFEB;
	border-bottom: 2px solid #2CBFEB;
}

.visites-acompanyaments {
  position:absolute;
  top:30px;
  right:30px
}
/*------- Butons Sace -------*/
.btn {
  font-weight: 700;
}
.btn-default {
    color: #2CBFEB!important;
    background-color: #fff!important;
    border-color: #2CBFEB!important;   
}
.btn-default:hover {
    color: #fff!important;
    background-color: #2CBFEB!important;
    border-color: #2CBFEB!important;
}
.btn-primary {
    color: #fff!important;
    background-color: #2CBFEB!important;
    border-color: #2CBFEB!important;
}
.btn-primary:hover {
  background-color: #1B86A7!important;
  border-color: #1B86A7!important; 
}
.btn-light {
    color: #b0c0ca!important;
    background-color: #fff!important;
    border-color: #b0c0ca!important;
}
.btn-light:hover {
  background-color: #b0c0ca!important;
  border-color: #b0c0ca!important; 
  color: #fff!important;
}

/*------- Modals Sace -------*/
#visita_explicativa .modal-header, #visita_explicativa .modal-body {
  padding: 15px 25px;
}
#visita_explicativa .modal-header {
    min-height: 16.43px;
    border-bottom: 0;
    background: #2CBFEB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
}
#visita_explicativa .modal-body p {
  padding-bottom: 15px;
}
#visita_explicativa .form-horizontal .control-label {
  font-size: 13px;
}
#visita_explicativa .modal-footer {
    border-top: 0;
}


main {
	margin-top: 60px;
  padding-top:20px;
  padding-bottom:40px;
}
.subtitol {
  color:#2CBFEB;
  text-align: center;
  margin-bottom: 30px;
}
.header-content {
  background: white;
  padding: 20px 0 30px 0;
}
.content {
  background: transparent;
  padding: 40px 0;
}
.post-feed {
  width:25%;
  float:left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-feed:first-child {
  width:50%;
}
.post-feed .post-thumbnail {
}
.post-feed .post-thumbnail img {
  width: 100%;
}
.post-feed .post-title {
  margin-bottom: 30px;
}
.post-feed .post-title a {
  color: #222;
  line-height: 36px;
  font-size: 16px;
  font-family: 'montserratbold';
}





.home-page {
  padding-top:20px;
}
.home-page .container h4 {
  color: #2CBFEB;
  margin-bottom: 30px;
}

.home-page .ilustracio-home {
  position: relative;
  margin-top: 160px;
}
.home-page .ilustracio-home img {
  margin: 0 auto;
  height: auto;
  width: 900px;
}
.home-page .ilustracio-home .acompanyaments {
  max-width: 700px;
  position: absolute;
  top: -100px;
  left: 50%;
  margin-left: -350px;
}

.home-page .ilustracio-home .acompanyaments .servei-home {
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.home-page .ilustracio-home .acompanyaments .servei-home.servei-left {
    position: absolute;
    margin-left: -70px;
    left: 0;
    margin-top: 70px;
}
.home-page .ilustracio-home .acompanyaments .servei-home.servei-center {
    float: none;
    margin: 0 auto;
    margin-top: -20px;
}
.home-page .ilustracio-home .acompanyaments .servei-home.servei-right {
    position: absolute;
    right: 0;
    margin-right: -70px;
    margin-top: 70px;
}
.home-page .ilustracio-home .acompanyaments .servei-home .servei-box {
  background: #fff;
  text-align: center;
    -webkit-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    border: 2px solid #878787;
    padding-bottom: 20px;
}
.home-page .ilustracio-home .acompanyaments .servei-home .servei-box:hover {
    -webkit-box-shadow: 10px 10px 0px 5px #2CBFEB;
    -moz-box-shadow: 10px 10px 0px 5px #2CBFEB;
    box-shadow: 10px 10px 0px 5px #2CBFEB;
    border: 2px solid #2B2B2B;
    cursor: pointer;
}
.home-page .ilustracio-home .acompanyaments .servei-home .servei-box img {
  max-width: 100%;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.home-page .ilustracio-home .acompanyaments .servei-home .servei-box:hover img {
  filter: none;
  -webkit-filter: none;
}
.home-page .ilustracio-home .acompanyaments .servei-home a {
  text-decoration: none;
  font-weight: 700;
  color: #92A4AB;
}
.home-page .ilustracio-home .acompanyaments .servei-home:hover a {
  text-decoration: none;
  font-weight: 700;
  color: #2CBFEB;
}

/*------- Serveis Page -------*/
.serveis-page {
}
.serveis-page .container {
  max-width: 820px;
}
.serveis-page .container-box {
  max-width: 700px;
  margin: 0 auto;
}
.serveis-page .container-box .servei-box {
  background: #fff;
  text-align: center;
    -webkit-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    border: 2px solid #878787;
    padding-bottom: 20px;
}
.serveis-page .container-box .servei-box:hover {
    -webkit-box-shadow: 10px 10px 0px 5px #2CBFEB;
    -moz-box-shadow: 10px 10px 0px 5px #2CBFEB;
    box-shadow: 10px 10px 0px 5px #2CBFEB;
    border: 2px solid #2B2B2B;
    cursor: pointer;
}
.serveis-page .container-box .servei-box img {
  max-width: 100%;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.serveis-page .container-box .servei-box:hover img {
  filter: none;
  -webkit-filter: none;
}

.serveis-page .container-box a:hover {
  color: #2CBFEB;
}


.serveis-page .container-box .servei {
  background: #fff;
    text-align: center;
    -webkit-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    border: 2px solid #878787;
    margin-bottom: 40px;
}
.serveis-page .container-box .servei .servei-avatar {
  float: left;
    width: 210px;
    display: inline-block;
}
.serveis-page .container-box .servei .servei-image-cover {
  margin:0 auto;
}
.serveis-page .container-box .servei .servei-content {
  padding: 20px 10px;
    text-align: left;
    width: 480px;
    display: inline-block;
}
.serveis-page .container-box .servei .servei-content h4 {
  margin-left: -10px;
}
.serveis-page .container-box .servei .servei-content ul {
      margin-left: -35px;
}

/*------- Servei Content -------*/
.new-branding-color {
  color: #68d0ff;
}
.contingut-servei {
  padding: 50px 0;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.contingut-servei  .portada-servei.educacio {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
  background-image: url("../img/educacio-cover.jpg");
}
.contingut-servei  .portada-servei.comunicacio {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
  background-image: url("../img/comunicacio-cover.jpg");
}
.contingut-servei  .portada-servei.gestio {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  background: #fff;
  background-image: url("../img/gestio-cover.jpg");
}
.contingut-servei .container {
  background: #fff;
    -webkit-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    border: 2px solid #2B2B2B;
}
.contingut-servei .container h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #2CBFEB;
  font-size: 36px;
}
.contingut-servei .container .accions {
  padding: 30px 0;
}
.contingut-servei .container .accions ul {
  margin-bottom: 25px;
}
.contingut-servei .container .accions ul h4, .contingut-servei .container .accions ul p {
  margin-left: -20px;
}


.contingut-servei .container, .filosofia-servei .container, .filosofia-sace .container {
  max-width: 820px;
  padding: 30px;
}



.filosofia-servei, .filosofia-sace {
  background: #2CBFEB;
  padding: 70px 0;
}

.filosofia-servei .container, .filosofia-sace .container {
  padding: 0;
}
.filosofia-servei .container h3, .filosofia-sace .container h3 {
  color: #fff;
}



.altres-serveis {
  background: #ACC1C9;
  padding: 30px 0;
}
.altres-serveis h4 {
  margin-bottom: 25px;
  text-align: center;
}
.altres-serveis .container {
  max-width: 700px;
  margin: 0 auto;
  padding: 40px 0;
  padding-top: 28px;
}
.altres-serveis .container .col-md-4{
float: none;
/* text-align: center; */
display: inline-block
}
.altres-serveis .container .servei-box {
  background: #fff;
  text-align: center;
    -webkit-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    border: 2px solid #2B2B2B;
    padding-bottom: 20px;
}
.altres-serveis .container .servei-box:hover {
    -webkit-box-shadow: 10px 10px 0px 5px #2CBFEB;
    -moz-box-shadow: 10px 10px 0px 5px #2CBFEB;
    box-shadow: 10px 10px 0px 5px #2CBFEB;
    border: 2px solid #2B2B2B;
    cursor: pointer;
}
.altres-serveis .container .servei-box img {
  max-width: 100%;
  margin-bottom: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.altres-serveis .container .servei-box:hover img {
  filter: none;
  -webkit-filter: none;
}
.altres-serveis .container a {
  text-decoration: none;
  font-weight: 700;
  color: #92A4AB;
}
.altres-serveis .container a:hover {
  color: #2CBFEB;
}
.altres-serveis .container .servei-box a {
  text-decoration: none;
  font-weight: 700;
  color: #92A4AB;
}


/*------- Organitzem -------*/


.moduls-organitzacio {
  width:820px;
  margin: 0 auto;
  padding-left:15px;
  margin-bottom: 40px;
  position: relative;
}
.modul-org {
  background: #fff;
  width: 350px;
  height: 350px;
  margin: 15px 15px;
  float: left;
  display: inline-block;
  padding: 25px;
  -webkit-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    box-shadow: 10px 10px 0px 5px rgba(0,0,0,0.15);
    border: 2px solid #303030;
}
.modul-org h4 {
  color: #2CBFEB;
  text-align: center;
  padding-top: 30px;
}
.modul-org p {
  padding-top: 30px;
}
.modul-org:nth-child(1), .modul-org:nth-child(4) {
  background: #2CBFEB;
}
.modul-org:nth-child(1) h4, .modul-org:nth-child(4) h4 {
  color: #fff;
}

/*------- Contacte -------*/
.formulari-contacte {
  width: 700px;
  margin:0 auto;
}
.formulari-contacte form.form-horizontal .form-group label.control-label span.required{
  color:#2CBFEB;
}
.formulari-contacte .footer-formulari {
    text-align: right;
}
.formulari-contacte .footer-formulari span {
    margin-right:10px;
    color:#2CBFEB;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #EAEFF3;
}
.text-muted {
	color: #75858C;
  text-align: center;
  font-size: 12px;
}
.btn-sace {
    color: #fff;
    background-color: #2CBFEB;
    border-color: #2CBFEB;
    font-weight: bold;
    padding: 6px 18px;
}





.button_container {
  position: relative;
    top: 20px;
    float: right;
  height: 30px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  display: none;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFF;
}
.button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.button_container span {
  background: #2CBFEB;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2CBFEB;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 5);
  min-height: 30px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  font-family: 'montserratbold';
  font-weight: normal;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@media screen and (max-width: 1024px) {
  .modul .titol-modul {
    padding: 50px 40px;
  }
  .modul .titol-modul h3 {
    font-size: 18px;
  }
  .modul .content-modul {
    padding: 50px 40px;
  }
}


@media screen and (max-width: 768px) {
    html {

  }
  .button_container {
      display: block;
  }
  .nav-menu {
    display: none;
  }
  .contingut-servei .container {
    max-width: 700px;
  }
  .home-page .ilustracio-home img {
    width: 700px;
  }
  .home-page .ilustracio-home .acompanyaments .servei-home.servei-left {
    margin-left: -15px;
    margin-top: 20px;
  }
  .home-page .ilustracio-home .acompanyaments .servei-home.servei-center {
      margin-top: -50px;
  }
  .home-page .ilustracio-home .acompanyaments .servei-home.servei-right {
      margin-right: -15px;
      margin-top: 20px;
  }

  .serveis-page .container-box {
    max-width: 680px;
  }
  .serveis-page .container-box .servei .servei-avatar {
    width: 200px;
  }
  .serveis-page .container-box .servei .servei-content {
    width: 470px;
  }

  .moduls-organitzacio {
    width:750px;
    margin: 0 auto;
    padding-left:25px;
    position: relative;
  }
  .modul-org {
  width: 300px;
  height: 300px;
  margin: 15px 15px;
  padding: 15px;
  margin-bottom: 30px;
  }
  .modul-org h4 {
  padding-top: 15px;
  }
  .modul-org p {
  padding-top: 15px;
  }
}


@media screen and (max-width: 480px) {
  .h1, h1 {
  font-size: 32px;
  }
  main {
  padding-top:10px;
  padding-bottom:20px;
  }
  .home-page .ilustracio-home img {
      width: 100%;
  }
  .home-page .ilustracio-home .acompanyaments {
      width: 100%;
      position: absolute;
      top: -100px;
      left: 50%;
      margin-left: -50%;
  }
  .home-page .ilustracio-home .acompanyaments .servei-home.servei-left {
      margin-left: 0;
      margin-top: 0;
  }
  .home-page .ilustracio-home .acompanyaments .servei-home.servei-right {
      margin-right: 0;
      margin-top: 0;
  }
  .home-page .ilustracio-home .acompanyaments .servei-home.servei-center {
    margin-top: -20px;
  }




  .serveis-page .container {
    max-width: 100%;
  }
  .serveis-page .container-box {
    max-width: 80%;
    margin: 0 auto;
  }
  .serveis-page .container-box .servei {
      -webkit-box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.15);
      -moz-box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.15);
      box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.15);
  }
  .serveis-page .container-box .servei .servei-avatar {
    float: none;
    width: 100%;
  }
  .serveis-page .container-box .servei .servei-image-cover {
    margin:0 auto;
  }
  .serveis-page .container-box .servei .servei-content {
    padding: 20px 10px;
    text-align: left;
    width: 100%;
    display: inline-block;
  }
  .serveis-page .container-box .servei .servei-content h4 {
    margin-left: 0;
    text-align: center;
  }
  .serveis-page .container-box .servei .servei-content ul {
    margin-left: -35px;
  }





  .moduls-organitzacio {
  width:100%;
  margin: 0 auto;
  padding-left:0;
  }
  .modul-org {
  background: #fff;
  width: 280px;
  height: 280px;
  margin: 15px 15px;
  margin: 0 auto;
  float: none;
  display: block;
  padding: 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.15);
    box-shadow: 5px 5px 0px 1px rgba(0,0,0,0.15);
  }
  .modul-org h4 {
  padding-top: 15px;
  }
  .modul-org p {
  padding-top: 15px;
  }


  .formulari-contacte {
  width: 100%;
  margin:0 auto;
  }
  .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-size: 13px;
  }
  .formulari-contacte .footer-formulari {
    text-align: center;
  }
  .formulari-contacte .footer-formulari span {
    display: block;
    font-size: 13px;
  }
  .formulari-contacte .footer-formulari .btn-sace {
    width: 90%;
    padding: 12px 20px;
    font-size: 16px;
    float: none!important;
  }
  
}








